h1 {
  color: #333333;
  background-color: #f9e4c8;
  border-radius: 1px;
  text-align: center;
  padding: 0px;
}
h2 {
    background-color: #ffffff;
    color: #000000;
    text-align: center;
}
nav {
    background-color: #ffffff;
    color: #000000;
    font-family: Arial, sans-serif;
}
img {
    width: 100%;
    height: auto;
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333333;
}

ul li {
  float: left;
}

ul li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

ul li a:hover {
  background-color: #111111;
}

.tiere{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
}
.tiere {
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #ffffff;
    color: rgb(0, 0, 0);
    padding: 20px;
    font-size: 1.5rem;
    text-align: center;
}

.tiere p {
  background-color: #ffffff;
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 1.2rem;
}
.tiere img{
  height: 400px;
  width: 300px;
}
h3 {
  font-size: 3rem;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  text-align: center;
}
.content {
  display: flex;
  gap: 50px; 
  padding: 10px;
}

.content p {
  display: flex;
  flex-wrap: wrap;
  background-color: #ffffff;
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  line-height: 25px;
  font-size: 1.3rem;
}
.content h1{
  font-size: 4.5rem;
  background-color: #ffffff;
}
.habitat {
  display: flex;
  gap: 50px;
  padding: 10px;
  align-items: stretch;
}

.habitat > div {
  flex: 1;             
  min-width: 250px;     
  box-sizing: border-box;
  background: #ffffff;
}

.habitat h1 {
  background-color: #ffffff;
  font-size: 4.5rem;
  padding: 4px;
}
.habitat p {
  display: flex;
  flex-wrap: wrap;
  background-color: #ffffff;
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  line-height: 25px;
  font-size: 1.3rem;
}

.habitat img {
  width: 100%;
  height: 100%;
}
.survive {
  display: flex;
  gap: 50px;
  padding: 10px;
  align-items: stretch;
}

.survive > div {
  flex: 1;             
  min-width: 250px;     
  box-sizing: border-box;
  background: #ffffff;
}

.survive h1 {
  background-color: #ffffff;
  font-size: 4.5rem;
  padding: 4px;
}
.survive p {
  display: flex;
  flex-wrap: wrap;
  background-color: #ffffff;
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  line-height: 25px;
  font-size: 1.3rem;
}
.survive img {
  width: 100%;
  height: 100%;
}

div.gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
}

div.galleryitem {
  margin: 2%;
  border: 1px solid #ccc;
  width: 20%;
  align-items: center;
}

div.galleryitem:hover {
  border: 1px solid #777;
}

div.galleryitem img {
  width: 100%;
  height: auto;
}

div.galleryitem div.desc {
  padding: 3%;
  text-align: center;
}
footer{
  background-color: #333333;
}
footer p{
  color: #ffffff;
}
footer p a{
  color: #ffffff;
}
footer h4{
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: 1.2rem;
  color: #ffffff;
}
footer h2{
  background-color: #333333;
  color: aliceblue;
  font-size: 1.3rem;
}