h1 {
  color: #333333;
  background-color: #f9e4c8;
  border-radius: 0%;
  text-align: center;
}
h2 {
    background-color: #f9e4c8;
    color: #000000;
}
nav {
    background-color: #ffffff;
    color: #000000;
    font-family: Arial, sans-serif;
}
img {
    width: 100%;
    height: auto;
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333333;
}

ul li {
  float: left;
}

ul li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

ul li a:hover {
  background-color: #111111;
}
#list {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: wheat;
}
.tiere{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
}
.tiere {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    background-color: #ffffff;
    color: rgb(0, 0, 0);
    padding: 20px;
    font-size: 1.5rem;
    text-align: center;
}
div p {
  background-color: #ffffff;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: 1.2rem;
}
div img{
  height: 400px;
  width: 300px;


}
h3{
  font-size: 3rem;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  text-align: center;
}
footer{
  background-color: #333333;
}
footer p{
  color: #ffffff;
}
footer p a{
  color: #ffffff;
}
footer h4{
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: 1.2rem;
  color: #ffffff;
}
footer h2{
  background-color: #333333;
  color: aliceblue;
  font-size: 1.3rem;
}

